<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit Information</h1> 
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/photos">Photos Index</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <h2> Photo Info:</h2>
            <form action="/photos/<%=photo._id%>?_method=PUT" method="post">
                <input type="text" name="title" value="<%=photo.title%>"/><br/>
                <input type="text" name="url" value="<%=photo.url%>"/><br/>
                <input type="submit" value="Update Photo!"/>
            </form>
            <form action='photos/<%=photo._id%>?_method=DELETE' method="post">
                <input type="submit" value="Delete Photo">
            </form>
    </main>
  </body>
</html>
