<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Photos Index Page</h1>
        <ul>
            <%photos.forEach(function(photo,index){ %>
            <li>
                <a href="/photos/<%=photo._id%>"><%=photo.title%></a> 
                <form method='POST' action='/photos/<%=photo._id%>?_method=DELETE'>
                    <input type="submit" name='' value="DELETE"/>
                </form>
            </li>
            <% }) %>
        </ul>
        <nav>
            <a href="/photos/new">Add a new photo!</a>
        </nav>
    </body>
</html>
